@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'inter', sans-serif ;
}

body{
    background-color:#075705 ;

}

section,
footer {
    padding: 54px 0;
}

h3{
    font-size: 50px ;
}

p{
    color: #0000009c;
}

.conteiner{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: #FFA800;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover{
   background-color: #FF7300; 
}

@keyframes animate-outline {
    from{
       outline: 0px solid #FF7300;
    }
    to{
       outline: 15px solid #FF7300;
    }
}


header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px ;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    font-size: 14px;
    display: block;
}

nav ul a:not(.btn)::after{
    content: "";
    background-color: #FF7300;
    height: 3px;
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
}

/*menu mobile*/

nav .menu-icon{
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none;
}

nav .close-icon{
    display: none;
    font-size: 30px;
    color: white;
}


.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 96px;
}

.banner .banner-text h1{
    font-size: 96px;
    color: white;
}

.banner .banner-text p{
    font-size: 25px;
    color: white;
    font-weight: lighter;
    margin: 18px 0;
}

.faca-mais .container{
    display: flex;
    align-items: center;
}

.faca-mais .faca-mais-text{
    width: 50%;
    padding: 0 40px;
}

.faca-mais .faca-mais-text h3{
    font-size: 56px;
    color: white;
}

.faca-mais .faca-mais-text p{
    margin: 5px 0 10px 0;
    font-size: 20px;
    color: white;
}

.faca-mais .faca-mais-img{
    width: 40%;
}

.faca-mais .faca-mais-img img{
    width: 100%;
}

.faca-mais .faca-mais-img2{
    width: 40%;
}

.faca-mais .faca-mais-img2 img{
    width: 100%;
}



.depoimentos h3{
    text-align: center;
    color: white;

}

.depoimentos p{
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.cards{
   display: flex;
   justify-content: center; 
}

.depoimentos .card-item{
    background-color:#1e601d;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.depoimentos .card-item img{
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.depoimentos .card-item .nome-user{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    color: #ffffff;
    transition: 0.3s;
}

.depoimentos .card-item .depoimento-user{
    font-size: 15px;
    padding: 0 15px;
    color: white;
    transition: 0.3s;
}

.depoimentos .card-item .estrelas{
    margin: 15px 0;
    border-top: 2px solid #30692f;
}

.depoimentos .card-item .estrelas i{
    color: #ccffcb;
    margin-top: 15px;
    font-size: 20px;
    transition: 0.3s;
}

.depoimentos .card-item:hover{
    background-color: #67b965;
    margin-top: -5px;
}

.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .depoimento-user,
.depoimentos .card-item:hover .estrelas i{
  color: black;
}


/* footer*/
.footer{
    background-color: #1e601d;
    text-align: center;
}

.footer i{
   color: #1e601d;
   font-size: 19px;
   background-color: white;
   padding: 10px;
   margin: 3px;
   border-radius: 10px;
}

.footer p{
    margin-top: 10px;
    color: white;
}


/*página sobre*/

.sobre .conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre .sobre-text {
   width: 50%;
   padding-right: 40px;
   color: white;
}

.sobre .sobre-text p{
    margin: 15px;
    font-size: 20px;
    color: white;
}

.sobre .sobre-img{
    width: 50%;
}

.sobre .sobre-img img{
    width: 100%;
    border-radius: 10px;
}

/*end página sobre*/

/*serviços*/

.vegetais h3{
    text-align: center;
    color: white;
    font-size: 50px;
}

.vegetais p{
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.vegetais .cards-vegetal{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.vegetais .card-vegetal{
    background-color: #1e601d;
    width: 250px;
    padding: 20px;
    border-radius: 14px;
    text-align: center;
    margin: 20px;
    transition: 0.3s;
}

.vegetais .card-vegetal:hover{
    background-color: #67b965;
}

.vegetais .card-vegetal:hover p{
    color:#0000009c;
}

.vegetais .card-vegetal p.nome-v{
    margin: 5px 0;
    transition: 0.3s;
}
.vegetais .card-vegetal img{
    border-radius: 10%;
    width: 100px;
    display: block;
    margin: 10px auto;
}

.vegetais .card-vegetal .nome-v{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0 15px;
}

/* Modal */
.modal {
    display: none; /* Inicialmente escondido */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Ícone do Carrinho */
.cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2em;
    cursor: pointer;
    z-index: 1000;
    background-color: #f1c40f;
    padding: 10px;
    border-radius: 100%;
    color: white;
}

.cart-count {
    font-size: 0.5em;
    color: black;
    background-color: white;
    border-radius: 80%;
    padding: 2px 5px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-items li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-items li:last-child {
    border-bottom: none;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    background-color: #f1c40f;
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.quantity-controls button:hover {
    background-color: #d4ac0d;
}

.modal .modal-content{
    background-color:#1e601d;
    border: none;
}
.modal .modal-content .cart-items{
    color: #ffffff;
   
}

.modal .modal-content h3{
    color: white;
}

.modal .modal-content .continuar-comprando,
.modal .modal-content .finalizar-compra{
     background-color:#d4ac0d;
     color: white;
     border: none;
}

/*end serviços*/

/*pagina de contato*/

.contato-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: white;
}

.contato-info .left-side p{
    color: white;
    font-size: 17px;
}

.contato-info .left-side{
    width: 50%;
    padding: 30px;
    background-color:#30692f;
    border-radius: 14px;
    margin-right: 50px;   
    height: fit-content;
}

.contato-info .left-side div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contato-info .left-side div i{
    font-size: 24px;
    margin-right: 20px;
}

.contato-info .right-side{
    width: 50%;
}

.contato-info .right-side input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 9px;
    transition: 0.3s;
    border: 1px solid #1c5c0c;
    color: rgb(22, 21, 3);
    font-weight: lighter;
}

.contato-info .right-side input:focus,
.contato-info .right-side textarea:focus{
   border-color:#f2ff00;
}


.contato-info .right-side textarea{
    border: 1px solid #67b965;
    color: rgb(22, 21, 3);
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    resize: none;
}

.contato-info .right-side button{
    border: none;
}

@media(max-width: 830px){


    /*menu mobile*/
    .ul{
        position: fixed;
        top: 0;
        left: 0;
        background-color:#1e601d;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);

    }
    .ul.open{
        clip-path: circle(141.4% at 100% 0);
    }
    .ul a{
        margin: 10px 0;
        font-size: 16px;
    }
    nav .menu-icon{
        display: block;
    }
    nav .close-icon{
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }
}